* {
  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

  user-select: none;
}

P {
  margin: 0;
  padding: 0;
}

.text-gradient {
  background: linear-gradient(-45deg, #ee0b89, #fd6f67 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.online-info {
  height: 70px;

  position: absolute;
  right: 35px;
  top: 35px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin-right: 10px;
}

.server-name {
  font-weight: 700;
}

.online-counter {
  display: flex;
  align-items: center;

  font-size: 16px;
  font-weight: 400;
}

.text p:nth-child(2) {
  text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.65);
}

.current-online {
  margin-left: 10px;
}

.animation-logo {
  width: 65px;
  height: 40px;
}