@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

P {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

path.dim {
    fill: #262626;
}

.text-gradient {
    background: linear-gradient(-45deg, #ee0b89, #fd6f67 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.speedometr {
    width: 335px;

    display: flex;
    justify-content: space-between;

    position: absolute;
    bottom: 25px;
    left: 50%;
    margin-left: -167.5px;

}

.bar {
    width: 45px;
    height: 143px;

    background: url("assets/fill.png");
    background-repeat: no-repeat;
    background-position: 50% 0%;
}

.speed {
    clip-path: url(#bar-speed);
}

.tacho {
    clip-path: url(#bar-tacho);
}

.dashboard {
    width: 237px;
    height: 143px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;

    clip-path: url(#dashboard);

    background-color: rgba(0, 0, 0, .45);
}

.dashboard__info {
    background-color: rgba(0, 0, 0, .6);

    border-radius: 15px;
}

.dashboard__info.letter {
    width: 53px;
    height: 47px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard__info.letter p {
    font-size: 25px;
    color: #fff;
}

.dashboard__info.speedrate {
    width: 180px;
    height: 60px;

    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 40px;
}

.dashboard__container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dashboard__top {
    width: 158px;
    height: 47px;

    display: flex;
    justify-content: space-between;
}

.dashboard__top .light {
    width: 36px;
    height: 47px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dashboard__top .other {
    width: 40px;
    height: 47px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

