* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  user-select: none;
}

P {
  margin: 0px;
  padding: 0px;
}

UL {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

BUTTON {
  border: 0;
  cursor: pointer;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}

section.container {
  width: 650px;
  height: 450px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -225px 0 0 -325px;

  background-color: rgba(0, 0, 0, .33);

  border-top: 3px solid palevioletred;
  border-radius: 5px 0 25px 0;
}

header {
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 10px;

  border-radius: 5px 0 0 0;

  background-color: rgba(0, 0, 0, .33);

  color: white;
  font-size: 24px;
  font-weight: 600;

}

header>p>span {
  color: #BB1A1A;
}

header>img {
  margin-right: 10px;
}

main {
  padding: 20px;
}

.items {
  display: flex;
  justify-content: space-between;
}

.items>li,
.items>li>button {
  width: 130px;
  height: 155px;

  border-radius: 10px;
}

.items>li {
  background: linear-gradient(to top, #A3A3A3, #C4C4C4);
}

.items>li:hover {
  background: linear-gradient(to bottom, #A3A3A3, #C4C4C4);
}

ul.items>li:first-child,
ul.items>li:last-of-type {
  background: linear-gradient(to top, #930000, #BB2828);

  color: white;
}

ul.items>li:first-child:hover,
ul.items>li:last-of-type:hover {
  background: linear-gradient(to bottom, #930000, #BB2828);
}

.items>li>button {
  position: relative;

  padding: 10px;

  background-color: rgba(0, 0, 0, 0);
  background-position: 50% 100%;
  background-repeat: no-repeat;

  color: white;
}

.items>li>button>p {
  width: 120px;
  height: 135px;

  position: absolute;
  top: 10px;
  left: 10px;

  text-align: left;
}

.items>li>button>p>span {
  font-size: 14px;
}

.fuel {
  background-image: url("assets/fuel-bg.svg");

  font-size: 24px;
  line-height: 75%;
}

button.repair-kit>p,
button.canister>p {
  top: 8px !important;

  color: black;
}

button.power>p {
  top: 7px !important;
}

.repair-kit {
  background-image: url("assets/repair-bg.svg");
  background-position: 50% 50% !important;

  font-size: 16px;
  line-height: 100%;
}

.canister {
  background-image: url("assets/canister-bg.svg");
  background-position: 50% 50% !important;

  font-size: 20px;
  line-height: 90%;
}

.power {
  background-image: url("assets/power-bg.svg");

  font-size: 13px;
  line-height: 115%;
}

.refill-count {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-top: 20px;
}

.refill-count>form {
  width: 130px;

  display: flex;
  justify-content: space-between;
}

form>button {
  width: 35px;
  height: 35px;

  background-color: rgba(0, 0, 0, .33);

  border-radius: 5px;

  color: white !important;
  font-size: 24px;
  font-weight: 700;
}

form>button:hover,
.payment>li>button:hover {
  background: linear-gradient(to left, #BB2828, #930000);

  box-shadow: 0px 0px 4px 0px rgba(188, 26, 26, 1);
}

form>input {
  width: 60px;

  background-color: rgba(0, 0, 0, 0);

  border: 0;

  font-size: 24px;
  font-weight: 600;
  text-align: center;

  outline: none;
}

form+p {
  margin-left: 30px;

  color: rgba(255, 255, 255, .5);
  font-size: 18px;
  font-weight: 600;
}

form+p>span:first-of-type {
  color: white !important;
  font-weight: 700;
}

.capacity {
  color: rgba(255, 255, 255, .5);
  font-size: 14px;
}

.cost {
  margin-top: 10px;

  color: rgba(255, 255, 255, .5);
  font-size: 18px;
  font-weight: 600;
}

.cost>span {
  color: white;
}

.payment {
  display: flex;

  margin-top: 20px;
}

.payment>li {
  margin-right: 15px;
}

.payment>li:last-of-type {
  margin-right: 0;
}

.payment>li>button {
  width: 130px;
  height: 38px;

  background-color: rgba(0, 0, 0, .33);

  border-radius: 44px;

  color: white;
  font-size: 14px;
  font-weight: 400;
}