* {
  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;

  user-select: none;
}

.container {
  position: absolute;
  bottom: 100px;
  left: 50%;

  transform: translateX(-50%);
}

.animation-alpha-test {
  width: 713px;
  height: 137px;
} 