* {
  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;

  user-select: none;
}

P {
  margin : 0;
  padding: 0;
}

@keyframes show {
  from {
    opacity  : 0;
    transform: translateY(-150px);
  }

  to {
    opacity  : 1;
    transform: translateY(0);
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.window {
  width: 285px;

  display       : flex;
  flex-direction: column-reverse;

  position: absolute;
  bottom  : 350px;
  left    : 35px;
}

.notification {
  width: 285px;

  display        : none;
  flex-direction : column;
  justify-content: center;

  margin-bottom : 10px;
  padding-top   : 10px;
  padding-right : 10px;
  padding-bottom: 10px;
  padding-left  : 60px;

  background-color: rgba(0, 0, 0, .5);

  border-radius: 15px 0 15px 0;

  color      : white;
  font-size  : 14px;
  font-weight: 300;

  transition: opacity .25s ease-in-out;
}

.notification p:nth-child(1) {
  font-size  : 16px;
  font-weight: 700;
}

.alert {
  display            : none;
  background-image   : url("assets/notify.png");
  background-position: 10px 50%;
  background-repeat  : no-repeat;
}

.error {
  display            : none;
  background-image   : url("assets/error.png");
  background-position: 10px 50%;
  background-repeat  : no-repeat;
}

.error p:nth-child(1) {
  color      : #ff002a;
  font-size  : 16px;
  font-weight: 700;

}

.success {
  display            : none;
  background-image   : url("assets/success.png");
  background-position: 10px 50%;
  background-repeat  : no-repeat;
}

.success p:nth-child(1) {
  color      : #0de798;
  font-size  : 16px;
  font-weight: 700;

}

.info {
  display            : none;
  background-image   : url("assets/info.png");
  background-position: 10px 50%;
  background-repeat  : no-repeat;
}

.info p:nth-child(1) {
  color      : white;
  font-size  : 16px;
  font-weight: 700;

}

.warning {
  display            : none;
  background-image   : url("assets/warning.png");
  background-position: 10px 50%;
  background-repeat  : no-repeat;
}

.warning p:nth-child(1) {
  color      : #ff002a;
  font-size  : 16px;
  font-weight: 700;

}

.show {
  display: flex;

  animation: show 2s;
}

.hide {
  animation: hide 2s;
}